<div id="brCard-{{ brCard.id }}">
    <div class="br2-section br2-limit-height">
        Header
        <div class="br2-section-expanded br2-collapsed">
            Expanded<hr>
            Expanded<hr>
            Expanded<hr>
            Expanded<hr>
            Expanded<hr>
            Expanded<hr>
            Expanded<hr>
        </div>
    </div>
    <div class="br2-section br2-limit-height">
        Modifiers
    </div>
    <div class="br2-section br2-limit-height">
        Roll
    </div>
    <div class="br2-section br2-limit-height">
        Damage
    </div>
    <div class="br2-footer br2-limit-height">
        Footer
    </div>
</div>